.feed-item {
    background-color: white;
    margin: 16px 0;
    padding: 10px 16px;
    border-radius: 10px;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.219);
}

.feed-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.feed-header .avatar-feed {
    cursor: pointer;
    border-radius: 50%;
}

.feed-header .name-feed {
    font-weight: 550;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
}

.feed-header .time-feed {
    font-weight: 400;
    font-size: 12px;
}

.feed-header .icon-edit-feed {
    margin-left: auto;
    font-size: 20px;
    cursor: pointer;
}

.feed-header .icon-edit-feed:hover .edit-menu {
    opacity: 1;
}

.feed-body {
    margin: 16px 0;
}

.feed-body .content-feed {
    font-size: 20px;
}

.feed-body .img-content-feed {
    width: 100%;
    cursor: pointer;
}

.feed-footer {
    display: flex;
    justify-content: flex-start;
}

.feed-footer i {
    font-size: 30px;
    margin: 0 8px;
}

.feed-footer .icon-favorite {
    color: gray;
    cursor: pointer;
    transition: color 0.3s;
}

.feed-footer .icon-favorite:hover {
    color: #fa383e;
}

.icon-favorite.active {
    color: #fa383e;
}

.feed-footer .icon-like {
    color: gray;
    cursor: pointer;
}

.feed-footer .icon-like:hover {
    color: #2d88ff;
}

.icon-like.active {
    color: #2d88ff;
}

.feed-footer span {
    font-size: 18px;
}

.feed-footer .count-like-span {
    cursor: pointer;
}

.feed-footer .count-like-span:hover {
    text-decoration: underline;
}

.feed-footer .count-comment-span {
    margin-left: auto;
    cursor: pointer;
}

.feed-footer .count-comment-span:hover {
    text-decoration: underline;
}

.edit-menu {
    background-color: white;
    position: absolute;
    right: -80px;
    top: 40px;
    padding: 16px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    min-width: 150px;
    z-index: 999;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.edit-menu i {
    font-size: 14px !important;
}

.edit-menu div {
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    padding: 5px 0;
    border-radius: 5px;
}

.edit-menu span{
    font-size: 16px;
    font-weight: 300;
}

.edit-menu div:hover {
    background-color: rgba(128, 128, 128, 0.239);
}
