.side-contain{
    height: 100%;
    position: fixed;
    top: 60px;
}

.side-wrapper{
    list-style-type: none;
    padding-left: 0;
}

.side-item{
    display: flex;
    justify-content: flex-start;
    padding: 8px 16px;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.side-item:hover{
    background-color: rgba(221, 221, 221, 0.479);
}

.side-item i {
    margin-right: 20px;
}
